<?xml version="1.0"?>
<launch>


  <node pkg="communication_node" type="system_test_publisher1.py" name="publishing_node1" output="screen" />
  <node pkg="communication_node" type="system_test_publisher2.py" name="publishing_node2" output="screen" />
  <node pkg="communication_node" type="system_test_publisher3.py" name="publishing_node3" output="screen" />
  <node pkg="communication_node" type="system_test_publisher4.py" name="publishing_node4" output="screen" />

  <node pkg="communication_node" type="system_test_subscriber1.py" name="subscribing_node1" output="screen" />
  <node pkg="communication_node" type="system_test_subscriber2.py" name="subscribing_node2" output="screen" />
  <node pkg="communication_node" type="system_test_subscriber3.py" name="subscribing_node3" output="screen" />
  <node pkg="communication_node" type="system_test_subscriber4.py" name="subscribing_node4" output="screen" />


</launch>
