<?xml version="1.0"?>
<launch>



<include file="$(find setup)/launch/p3at_gmapping.launch">
      <arg name="robotname" value="robot0"/>
</include>
<include file="$(find setup)/launch/p3at_move_base.launch">
      <arg name="robotname" value="robot0"/>
</include>



<include file="$(find setup)/launch/p3at_gmapping.launch">
      <arg name="robotname" value="robot1"/>
</include>
<include file="$(find setup)/launch/p3at_move_base.launch">
      <arg name="robotname" value="robot1"/>
</include>



<!-- 

<include file="$(find setup)/launch/p3at_gmapping.launch">
      <arg name="robotname" value="robot2"/>
</include>
<include file="$(find setup)/launch/p3at_move_base.launch">
      <arg name="robotname" value="robot2"/>
</include>
-->


<!-- 
<include file="$(find setup)/launch/p3at_gmapping.launch">
      <arg name="robotname" value="robot3"/>
</include>
<include file="$(find setup)/launch/p3at_move_base.launch">
      <arg name="robotname" value="robot3"/>
</include>
-->


</launch>
